<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

<h2>User List</h2>

<form action="/users/deleteAll" method="post">
    <input type="submit" value="Delete All Users">
</form>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
             <th>Password</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
             <td th:text="${user.password}"></td>
            <td>
                <form action="/user/delete/{id}" method="post" th:action="@{/user/delete/{id}(id=${user.id})}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>
